body {
  border: 5px solid #ffe6e9;
  font-family: sans-serif;
  font-size: 110%;
  background-color: white
  display: flex;
  flex-direction: column;
}

.main{
  display: flex;
  flex-direction: row;
  overflow: unset;
}


ul{
  list-style-type: none;
}

#ProfilePicture {
  width: 30%;
  height: 30%;
  border-radius: 100%;
  border: 3px burlywood solid;

}


header {
  text-align: center;
}

#heading {
  font-family: 'Times New Roman', Times, serif;
  font-size: 110%;
  background-color: #ffb6c1;
}

footer {
  background-color: #fffefa;
  text-align: center;
  list-style-type: none;
  height: auto;

}

#sidebar {
  width: 50pc;
  height: auto;
  background-color: #ff7086;
}

.nav-menu {
  list-style-type: none;
  padding: 0;
}

.icons {
  width: 3.5rem;
  margin: 2.5rem;
  height: auto;
}
