body {
  font-family: sans-serif;
  font-size: 110%;
  background-color: #fbc4bf;
}

h2 {
  font-size: 121%;
  font-family: 'Times New Roman', Times, serif;
  background-color: #fffefa;
  margin: 5%;
  padding: 5%;
}
ul{
  list-style-type: none;
}

#ProfilePicture {
  width: 30%;
  height: 30%;
  border-radius: 100%;
  border: 3px burlywood solid;

}


header {
  text-align: center;
}

#heading {
  font-family: 'Times New Roman', Times, serif;
  font-size: 110%;
  background-color: #fffefa;
}

footer {
  background-color: #fffefa;
  text-align: center;
  list-style-type: none;
  height: auto;

}

#sidebar {
  width: 100%;
  background-color: #fffefa;
  padding-bottom: 1rem;
}

.nav-menu {
  list-style-type: none;
  padding: 0;
}

.icons {
  width: 3.5rem;
  margin: 2.5rem;
  height: auto;
}
